.admin-card {
  width: 100%;
  margin-top: 20px;
}

.full-width-table {
  width: 100%;
}

// Estilos para el indicador de rol
.role-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;

  &.admin {
    background-color: #f44336; /* Rojo de Material */
  }

  &:not(.admin) {
    background-color: #607d8b; /* Azul grisáceo */
  }
}

.id-text {
  font-family: monospace;
  font-size: 0.9em;
  color: #555;
}
